<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="'navigation'"
      [mode]="'over'"
      [opened]="isOpened">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/app-content" routerLinkActive="active">Content</a>
      <a mat-list-item routerLink="/app-about" routerLinkActive="active">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <app-content></app-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
